* {
  font-family: JetBrains Mono;
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.5);
}

button {
  font-size: 32px;
  background-size: 25%;
  padding-bottom: 100px;
  margin: 8px;
  border-radius: 4px;
  background-color: #181825;
  border: 4px solid #11111b;
  color: #cdd6f4;
}

button:focus, button:active, button:hover {
	background-color: #11111b;
  border: 4px solid #181825;
}
