* {
  font-family: JetBrains Mono;
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.95);
}

button {
  font-size: 32px;
  background-size: 25%;
  padding-bottom: 100px;
  margin: 8px;
  border-radius: 8px;
  background-color: #181825;
  border: 4px solid #181825;
  color: #cdd6f4;
}

button:focus, button:active, button:hover {
	background-color: #11111b;
	border: 4px solid #94e2d5;
}
